@font-face {
  font-family: "fontcustom";
  src: url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.eot);
  src: url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.woff) format("woff"), url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.ttf) format("truetype"), url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.svg#fontcustom) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontcustom";
    src: url(/assets/fonts/fontcustom_c0867cc5adc039ef0dc8dec2893060d4.svg#fontcustom) format("svg");
}
}
/* line 23, ../../_app/css/_fontcustom.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 36, ../../_app/css/_fontcustom.scss */
[data-icon]:before,
.icon-check:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-close:before,
.icon-dribbble:before,
.icon-facebook:before,
.icon-github:before,
.icon-instagram:before,
.icon-menu:before,
.icon-plus:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 51, ../../_app/css/_fontcustom.scss */
.icon-check:before {
  content: "\f102";
}

/* line 52, ../../_app/css/_fontcustom.scss */
.icon-chevron-left:before {
  content: "\f103";
}

/* line 53, ../../_app/css/_fontcustom.scss */
.icon-chevron-right:before {
  content: "\f104";
}

/* line 54, ../../_app/css/_fontcustom.scss */
.icon-close:before {
  content: "\f106";
}

/* line 55, ../../_app/css/_fontcustom.scss */
.icon-dribbble:before {
  content: "\f107";
}

/* line 56, ../../_app/css/_fontcustom.scss */
.icon-facebook:before {
  content: "\f108";
}

/* line 57, ../../_app/css/_fontcustom.scss */
.icon-github:before {
  content: "\f109";
}

/* line 58, ../../_app/css/_fontcustom.scss */
.icon-instagram:before {
  content: "\f10a";
}

/* line 59, ../../_app/css/_fontcustom.scss */
.icon-menu:before {
  content: "\f10b";
}

/* line 60, ../../_app/css/_fontcustom.scss */
.icon-plus:before {
  content: "\f10c";
}

/* line 61, ../../_app/css/_fontcustom.scss */
.icon-twitter:before {
  content: "\f10e";
}

@-webkit-keyframes spin {
  /* line 61, ../../_app/css/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 63, ../../_app/css/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 61, ../../_app/css/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 63, ../../_app/css/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 61, ../../_app/css/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 63, ../../_app/css/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 1, ../../_app/css/_global.sass */
body {
  position: relative;
}

/* line 6, ../../_app/css/_global.sass */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0px;
}

/* line 17, ../../_app/css/_global.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* line 25, ../../_app/css/_global.sass */
p {
  line-height: 1.5em;
}

/* line 28, ../../_app/css/_global.sass */
a,
a:link,
a:visited {
  -webkit-transition: color 0.05s ease-in-out;
  -moz-transition: color 0.05s ease-in-out;
  -o-transition: color 0.05s ease-in-out;
  transition: color 0.05s ease-in-out;
  text-decoration: none;
  outline: none;
}

/* line 35, ../../_app/css/_global.sass */
a:hover, a:focus {
  color: #45aca8;
}

/* line 38, ../../_app/css/_global.sass */
strong {
  font-weight: normal;
}

/* line 41, ../../_app/css/_global.sass */
em {
  font-weight: normal;
}

/* line 44, ../../_app/css/_global.sass */
em strong,
strong em {
  font-weight: normal;
}

/* line 49, ../../_app/css/_global.sass */
iframe {
  border: none;
  display: block;
}

/* line 54, ../../_app/css/_global.sass */
.clear {
  clear: both;
}

/* line 57, ../../_app/css/_global.sass */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
